<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="JobPoolSettings" type="JobPool.JobPoolConfig, JobPool" />
  </configSections>
  <JobPoolSettings>
    <Jobs>
      <add name="Task1" type="JobPool.MyTasks+Task1, JobPool" interval="2">
        <add key="interval" value="3"/>
      </add>
      <add name="Task2" type="JobPool.MyTasks+Task2, JobPool" interval="3"/>
    </Jobs>
    <MyData>
      <Item1 value="Hello, World" anotherValue="14">
        <param1 value="nothing"/>
        <param2 value="everything" />
      </Item1>
      <Item2 value="Let's Go"></Item2>
    </MyData>
  </JobPoolSettings>
</configuration>